django==2.0.9
django-debug-toolbar
qrcode==5.1
django-location-field
pillow
djangorestframework==3.7.7
dynamic-rest
django-rest-swagger
markdown
django-filter
dj-database-url
whitenoise
django-annoying
pyfcm
easy-thumbnails
unicodecsv
django-import-export
django-widget-tweaks
fcm-django
django-storages
#boto3
django-haystack
drf-haystack
whoosh
mysqlclient
django-mysql
dj_database_url
gunicorn
django_extensions
psycopg2-binary
libsass
django-compressor
django-sass-processor
django-jet