.contact-form {
  padding-bottom: 10px !important;
}
.contact-infos {
  margin-top: 3%;
  .row {
    margin-bottom: 10px;
  }
  button {
    float: right;
  }
}

@media only screen and (max-width: 768px) {
  .navigator > .item:nth-child(n+2), .contact-button {
    display: none !important;
  }
  .ui.grid > [class*="seven wide"].column {
    width: 70% !important;
  }
  .contact-infos {
    display: none !important;
  }
}