.masthead {
  &.lazy {
   background-image: none;
   background-color: $color_black_80;
  }
  min-height: 500px !important;
  padding: 1em 0 !important;
  opacity: 0.9 !important;
  position: relative !important;
  background-color: black !important;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(11, 1, 1, 0.5)), url("../../images/2.jpeg") !important;
  background-position: 10% 40% !important;
  .ui.sanabil-color.button.inverted {
    background-color: transparent;
    box-shadow: 0 0 0 2px $color_ghost_white inset !important;
    &.home:hover {
      transition: all 0.6s linear;
      opacity: 0.9;
      border: transparent !important;
      background-color: $color_ghost_white!important;
      color: $color_black_80 !important;
    }
  }
}
#aya {
  font-family: 'Scheherazade';
  font-size: 45px;
  padding: 45px;
  font-weight: 400;
  color: $color_ghost_white !important;
  .quran_decoration {
    direction: rtl;
    font-family: 'ArabeyesQr', 'Scheherazade';
  }
  .aya-surat {
    font-family: 'Amiri', serif;
    font-size: 14px;
    color: $color_sanabil_accent;
  }
}

.activities {
  .column {
    box-shadow: none;
  }
  p {
    height: 150px;
  }
  .card {
    cursor: context-menu;
    margin: 20px 0 20px 0;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    border-radius: 20px;
    &:after {
      content: "";
      display: block;
      margin: 0 auto;
      width: 80%;
      padding-bottom: 30px;
      border-bottom: 2px solid transparent;
    }
    &:before {
      content: "";
      display: block;
      margin: 0 auto;
      width: 80%;
      padding-bottom: 30px;
      border-top: 2px solid transparent;
    }
  }
  .card:hover {
    box-shadow: 0 1px 3px $color_black_12, 0 1px 2px $color_black_24;
    &:after {
      content: "";
      display: block;
      margin: 0 auto;
      width: 80%;
      padding-bottom: 30px;
      border-bottom: 2px solid $color_sanabil;
    }
    &:before {
      content: "";
      display: block;
      margin: 0 auto;
      width: 80%;
      padding-bottom: 30px;
      border-top: 2px solid $color_sanabil;
    }
  }
}

@media only screen and (max-width: 768px) {
  #aya {
    font-size: 28px;
  }
}