.ui.statistics {
  margin-left: 15%;
}

.ui.modal .ui.horizontal.list {
  display: flex !important;
}
.needy-stats .ui.large.button {
  margin-bottom: 20px;
}

td.detail-click, td.actions {
  text-align: center!important;
}

.about {
  margin-bottom: 8% !important;
}

table#needy-table {
  th, td {
    text-align: center;
  }
}

@media only screen and (max-width: 768px) {
  #associations-table_filter label {
    text-align: left;
  }
  .contact-form {
   .ui.grid>[class*="seven wide"].column {
      width: 60% !important;
    }
  }
  .logo-sanabil {
    width: 65% !important;
    margin-left: 15%;
  }
  .about {
    .ui.horizontal.divider {
      display: inline-grid !important;
    }
  }
}

@media only screen and (min-width: 768px) {
  table#needy-table {
    th, td {
      text-align: left !important;
    }
  }
  .dataTables_filter {
    label {
      float: right;
    }
  }
}
@media only screen and (max-width: 400px) {
  #associations, #needs, #needy {
    &-table_wrapper .left.aligned.eight.wide.column {
      display: none !important;
    }
    td.actions {
      text-align: left !important;
    }
  }
}
