{% load staticfiles %}
{% load sass_tags %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1, maximum-scale=2, user-scalable=no" name="viewport"/>
    <meta content="Sanabil a charity website" name="description"/>
    <meta content="charité, bénévole, don" name="keywords"/>
    <meta content="#ffffff" name="theme-color"/>
    <link rel="apple-touch-icon" sizes="57x57" href="/static/images/fav.ico">
    <link rel="apple-touch-icon" sizes="60x60" href="/static/images/fav.ico">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/images/fav.ico">
    <link rel="apple-touch-icon" sizes="76x76" href="/static/images/fav.ico">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/images/fav.ico">
    <link rel="apple-touch-icon" sizes="120x120" href="/static/images/fav.ico">
    <link rel="apple-touch-icon" sizes="144x144" href="/static/images/fav.ico">
    <link rel="apple-touch-icon" sizes="152x152" href="/static/images/fav.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/images/fav.ico">
    <link rel="icon" type="image/png" sizes="192x192" href="/static/images/fav.ico">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/images/fav.ico">
    <link rel="icon" type="image/png" sizes="96x96" href="/static/images/fav.ico">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/images/fav.ico">
    <title>{% block title %} title {% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.0/dist/semantic.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.semanticui.min.css">
    <link href="{% sass_src 'css/scss/main.scss' %}" rel="stylesheet" type="text/css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script>
        $(document)
            .ready(function () {
                $("address").each(function () {
                    const embed = "<iframe width='100%' height='300' frameborder='0' scrolling='no'  marginheight='0' marginwidth='0' src='https://maps.google.com/maps?&amp;q=" + encodeURIComponent($(this).text()) + "&amp;output=embed'></iframe>";
                    $(this).html(embed);
                });
                $("addresslink").each(function () {
                    const address = $(this).text().trim().replace(/\,/g, ' '); // get rid of commas
                    const url = address.replace(/\ /g, '%20'); // convert address into approprite URI for google maps
	                const classes =  $(this).attr('class');
                    $(this).replaceWith('<a class="'+classes+'" href="http://maps.google.com/maps?q=' + url + '" target="_blank"><i class="map marker alternate icon"></i></a>').attr( "class", classes);
                });
                $(".ui.modal").modal({
                    closable: true
                });
                $('.masthead')
                    .visibility({
                        once: false,
                        onBottomPassed: function () {
                            $('.fixed.menu').transition('fade in');
                        },
                        onBottomPassedReverse: function () {
                            $('.fixed.menu').transition('fade out');
                        }
                    });
                $('.ui.sidebar')
                    .sidebar('attach events', '.toc.item');
                $('.message .close')
                    .on('click', function () {
                        $(this)
                            .closest('.message')
                            .transition('fade')
                        ;
                    })
                ;
            });
    </script>
</head>
<body>
{% include 'header.html' %}
<!--Page Contents-->
<div class="pusher">
	<div class="body-content">
    {% block content %}
    {% endblock %}
	</div>
    <div class="clr"></div>
    {% include 'footer.html' %}
</div>
<script src="https://cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<script src="/static/js/dataTable.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.0/dist/semantic.min.js"></script>
<script>
    {% block extra_js %}{% endblock extra_js %}
</script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-127401200-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
        dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', 'UA-127401200-1');
</script>
</body>
</html>
