{% load staticfiles %}
{% load sass_tags %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1, maximum-scale=2, user-scalable=no" name="viewport"/>
    <meta content="Sanabil a charity website" name="description"/>
    <meta content="charité, bénévole, don" name="keywords"/>
    <meta content="#ffffff" name="theme-color"/>
    <link rel="apple-touch-icon" sizes="57x57" href="/static/images/fav.ico">
    <link rel="apple-touch-icon" sizes="60x60" href="/static/images/fav.ico">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/images/fav.ico">
    <link rel="apple-touch-icon" sizes="76x76" href="/static/images/fav.ico">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/images/fav.ico">
    <link rel="apple-touch-icon" sizes="120x120" href="/static/images/fav.ico">
    <link rel="apple-touch-icon" sizes="144x144" href="/static/images/fav.ico">
    <link rel="apple-touch-icon" sizes="152x152" href="/static/images/fav.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/images/fav.ico">
    <link rel="icon" type="image/png" sizes="192x192" href="/static/images/fav.ico">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/images/fav.ico">
    <link rel="icon" type="image/png" sizes="96x96" href="/static/images/fav.ico">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/images/fav.ico">
    <title>{% block title %} title {% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.0/dist/semantic.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.semanticui.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.5.2/css/buttons.semanticui.min.css">
    <link href="{% sass_src 'css/scss/main.scss' %}" rel="stylesheet" type="text/css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script>
        $(document)
            .ready(function () {
                $(".detail-click").click(function () {
                    $("#besoin-detail").modal('show');
                });
                $("#besoin-detail").modal({
                    closable: true
                });
                $('.special.cards .image').dimmer({
                    on: 'hover'
                });
                $('.masthead')
                    .visibility({
                        once: false,
                        onBottomPassed: function () {
                            $('.fixed.menu').transition('fade in');
                        },
                        onBottomPassedReverse: function () {
                            $('.fixed.menu').transition('fade out');
                        }
                    });
                $('.ui.sidebar')
                    .sidebar('attach events', '.toc.item');
                $('.message .close')
                    .on('click', function () {
                        $(this)
                            .closest('.message')
                            .transition('fade')
                        ;
                    })
                ;
            });
    </script>
</head>
<body>
{% include 'header.html' %}
<!--Page Contents-->
<div class="pusher">
    {% block content %}
    {% endblock %}
    <div class="clr"></div>
    {% include 'footer.html' %}
</div>
<script src="https://cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.semanticui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.print.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<script src="/static/js/dataTable.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.0/dist/semantic.min.js"></script>
<script>
    {% block extra_js %}{% endblock extra_js %}
</script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-127401200-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
        dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', 'UA-127401200-1');
</script>
</body>
</html>
