{% extends 'base.html' %}

{% block title %} Contactez-nous {% endblock %}

{% block content %}
	<div class="ui centered grid contact-form">
		<div class="seven wide column">
			{% if messages %}
				{% for message in messages %}
					<div class="row">
						<div class="ui {{ message.tags }} message">
							<i class="close icon"></i>
							<p>    {{ message }}</p>
						</div>
					</div>
				{% endfor %}
			{% endif %}

			<form class="ui form" method="post">
				{% csrf_token %}
				{{ form.as_p }}
				<button class="ui large sanabil-color button" type="submit">Envoyer</button>
			</form>
		</div>

		<div class="contact_infos six wide right column">
			<div class="row">
				<i class="large sanabil-color envelope icon"></i> dz.sanabil@gmail.com
			</div>
			<div class="row">
				<i class="large sanabil-color phone icon"></i> +213 540 286 003
			</div>
			<div class="row">
				<div class="six wide right floated column">
					<img class="ui small  image"
					     src="/static/images/sanabil-logo.png"/>
				</div>
			</div>
		</div>
	</div>
{% endblock %}