{% extends 'base.html' %}

{% block title %} Contactez-nous {% endblock %}

{% block content %}
    <div class="contact ui vertical  segment">
        <div class="ui middle aligned stackable grid container">
            <div class="seven wide column">
                <form class="ui form" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="ui large teal button" type="submit">Send</button>
                </form>
            </div>
            <div class="contact_infos six wide right column">
                <div class="row">
                    <i class="large teal map marker alternate icon"></i> Alger Oued Smar, 16309, Oued Smar 16309
                </div>
                <div class="row">
                    <i class="large teal phone icon"></i> (012) 345 - 6789
                </div>
                <div class="row">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3198.7296398736294!2d3.171721551135871!3d36.70503418065168!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x128e522f3f317461%3A0x215c157a5406653c!2sEcole+Nationale+Sup%C3%A9rieure+d&#39;Informatique!5e0!3m2!1sfr!2stn!4v1539098096069"
                            width="600" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
{% endblock %}