<div class="ui inverted vertical footer segment">
    <div class="ui container">
        <div class="ui stackable inverted divided equal height stackable grid">
            <div class="six wide column">
                <h4 class="ui inverted header">
                    À propos de Sanabil
                </h4>
                <div class="ui inverted link list">
	                <b> Sanabil</b> est la seule plateforme en Algérie qui s’adresse à la fois aux associations qui
	                souhaitent gérer et satisfaire les besoins des nécessiteux qui leurs sont affectés et aux personnes
	                qui souhaitent faire un don et ce, peu importe leur localité.</p>
                </div>
            </div>
            <div class="four wide column">
                <h4 class="ui inverted header">
                    Liens utiles
                </h4>
                <div class="ui inverted link list">
                    <a class=" item" href="/">
                        Accueil
                    </a>
                    <a class="item" href="{% url 'association-list' %}">
                        Associations
                    </a>
                    <a class="item" href="{% url 'besoin-list' %}">
                        Besoins
                    </a>
                    <a class="item" href="{% url 'necessiteux-list' %}">
                        Nécessiteux
                    </a>
                    <a class="item" href="{% url 'help-page' %}">
                        Qui sommes-nous?
                    </a>
                </div>
            </div>
            <div class="five wide column">
                <h4 class="ui inverted header">
                   Contact
                </h4>
                <div class="row">
                    <i class="envelope icon"></i> dz.sanabil@gmail.com
                </div>
                <div class="row">
                    <i class="phone icon"></i> +213 540 286 003
                </div>
                <div class="row">
                    <button type="button"  href="{% url 'contact-page' %}" class="ui sanabil-color button contact"> <a href="{% url 'contact-page' %}">Contactez-nous</a></button>
                </div>
            </div>
        </div>
    </div>
</div>
</div>