<div class="ui large top menu {% if request.resolver_match.url_name == 'home-page' %}hidden{% endif %} ">
    <div class="ui container navigator">
        <a class="toc item silder-icon"><i class="sidebar icon"></i></a>
        <a class="item" href="/">
            Accueil
        </a>
        <a class="item {% if request.resolver_match.url_name == 'association-list' %}active{% endif %}"
           href="{% url 'association-list' %}">
            Associations
        </a>
        <a class="item {% if request.resolver_match.url_name == 'besoin-list' %}active{% endif %}"
           href="{% url 'besoin-list' %}">
            Besoins
        </a>
        <a class="item {% if request.resolver_match.url_name == 'necessiteux-list' %}active{% endif %}"
           href="{% url 'necessiteux-list' %}">
            Nécessiteux
        </a>
        <a class="item {% if request.resolver_match.url_name == 'help-page' %}active{% endif %}"
           href="{% url 'help-page' %}">
            Qui sommes-nous?
        </a>
        <div class="right menu">
            <div class="item">
                <a class="ui  sanabil-color button" href="{% url 'contact-page' %}">
                    Contactez-nous
                </a>
            </div>
        </div>
    </div>
</div>
<!--Sidebar Menu-->
<div class="ui vertical inverted sidebar menu">
    <a class="item" href="/">
        Accueil
    </a>
    <a class="item {% if request.resolver_match.url_name == 'association-list' %}active{% endif %}"
       href="{% url 'association-list' %}">
        Associations
    </a>
    <a class="item {% if request.resolver_match.url_name == 'besoin-list' %}active{% endif %}"
       href="{% url 'besoin-list' %}">
        Besoins
    </a>
    <a class="item {% if request.resolver_match.url_name == 'necessiteux-list' %}active{% endif %}"
       href="{% url 'necessiteux-list' %}">
        Nécessiteux
    </a>
    <a class="item {% if request.resolver_match.url_name == 'help-page' %}active{% endif %}"
       href="{% url 'help-page' %}">
        Qui sommes-nous?
    </a>
    <a class="ui sanabil-color button contact-button" href="{% url 'contact-page' %}">
        Contactez-nous
    </a>
</div>