{% extends 'base.html' %}
{% block title %} Qui sommes-nous? {% endblock %}
{% block content %}
    <div class="ui vertical segment about">
        <div class="ui text center aligned container">
	        <h1 class="ui horizontal header divider">
		        <label class="text sanabil-color-accent">À PROPOS DE</label> SANABIL
	        </h1>
	        <div class="ui piled segment vision">
                <div class="ui middle aligned stackable grid container">
                    <div class="row">
                        <div class="eight wide column">
                            <p>
	                            <b> Sanabil</b> est la seule plateforme en Algérie qui s’adresse à la fois aux
	                            associations qui souhaitent gérer et satisfaire les besoins des nécessiteux qui leurs
	                            sont affectés et aux personnes qui souhaitent faire un don et ce, peu importe leur
	                            localité.
                            </p>
                        </div>
                        <div class="six wide right floated column">
                            <img class="ui large  image logo-sanabil"
                                 src="/static/images/sanabil-logo.png"/>
                        </div>
                    </div>
                </div>
            </div>
	        <h1 class="ui horizontal header divider">
		        <label class="text sanabil-color-accent">QUI</label> SOMMES-NOUS ?
	        </h1>
	        <div class="ui piled segment">
		        L’équipe <b>Sanabil </b>est une équipe motivée et entièrement bénévole, elle est composée de plusieurs
		        membres rassemblés par l’envie d’aider ceux qui en ont besoin.
	        </div>
	        <h1 class="ui horizontal header divider">
                <label class="text sanabil-color-accent">À QUOI</label> SERT CETTE PLATEFORME ?
	        </h1>
	        <div class="ui piled segment">
		        <b>Sanabil</b> est une plateforme en ligne qui permet aux associations d’avoir une traçabilité des
		        nécessiteux qui leur sont affectés , des dons reçus et des besoins de chaque famille. Elle permet
		        également aux donateurs de consulter la liste des besoins reliés à chaque association et pouvoir ainsi
		        les satisfaire de manière très rapide.
            </div>
        </div>

    </div>

{% endblock %}