{% extends 'base.html' %}
{% block title %} Qui sommes-nous? {% endblock %}
{% block content %}
    <div class="ui vertical  segment">
        <div class="ui text center aligned container">
            <div class="ui vertical segment vision">
                <div class="ui middle aligned stackable grid container">
                    <div class="row">
                        <div class="eight wide column">
                            <h1 class="ui horizontal header divider">
                                Sanabil
                            </h1>
                            <p>
                             <b> Sanabil</b> est une application de gestion en ligne visant à rassembler les associations algériennes et les donateurs sur une même plateforme.
                            </p>
                        </div>
                        <div class="six wide right floated column">
                            <img class="ui large  image"
                                 src="/static/images/sanabil-logo.png"/>
                        </div>
                    </div>
                </div>
            </div>
            <h1 class="ui horizontal header divider">
                <label class="text sanabil-color-accent">QUI</label> SOMMES-NOUS ?
            </h1>
            <div class="ui vertical segment">
Nous sommes une équipe d’informaticiens dont l’objectif est d’utiliser ses compétences dans les actions caritatives et ce, sans but lucratif et sans aucune contrepartie qu’elle soit financière ou matérielle.
            </div>
	               <h1 class="ui horizontal header divider">
                <label class="text sanabil-color-accent">À QUOI</label> SERT CETTE PLATEFORME ?
            </h1>
            <div class="ui vertical segment">
Nous sommes une équipe d’informaticiens dont l’objectif est d’utiliser ses compétences dans les actions caritatives et ce, sans but lucratif et sans aucune contrepartie qu’elle soit financière ou matérielle.
            </div>
            <a href="{% url 'contact-page' %}" class="ui large sanabil-color button">Rejoins-nous</a>
        </div>

    </div>

{% endblock %}