{% extends 'base.html' %}

{% block title %} Sanabil - سنابل {% endblock %}


{% block content %}

    <br/>
    <br/>
    <br/>
    <br/>

    <br/>
    <br/>
    <br/>

    <br/>
    <br/>
    <br/>
    <br/>

    <br/>
    <br/>
    <br/>


<div id="aya_text_1" class="row text-center arabic-ayah">
        <p>

<span dir="rtl">

  <a href="?sortedby=score&amp;recitation=14&amp;fuzzy=True&amp;query=%D9%85%D9%8E%D8%AB%D9%8E%D9%84%D9%8F&amp;translation=en.transliteration&amp;page=1&amp;unit=aya&amp;view=default">مَثَلُ</a>

  <a href="?sortedby=score&amp;recitation=14&amp;fuzzy=True&amp;query=%D8%A7%D9%84%D9%91%D9%8E%D8%B0%D9%90%D9%8A%D9%86%D9%8E&amp;translation=en.transliteration&amp;page=1&amp;unit=aya&amp;view=default">الَّذِينَ</a>

  <a href="?sortedby=score&amp;recitation=14&amp;fuzzy=True&amp;query=%D9%8A%D9%8F%D9%86%D9%92%D9%81%D9%90%D9%82%D9%8F%D9%88%D9%86%D9%8E&amp;translation=en.transliteration&amp;page=1&amp;unit=aya&amp;view=default">يُنْفِقُونَ</a>

  <a href="?sortedby=score&amp;recitation=14&amp;fuzzy=True&amp;query=%D8%A3%D9%8E%D9%85%D9%92%D9%88%D9%8E%D8%A7%D9%84%D9%8E%D9%87%D9%8F%D9%85%D9%92&amp;translation=en.transliteration&amp;page=1&amp;unit=aya&amp;view=default">أَمْوَالَهُمْ</a>

  <a href="?sortedby=score&amp;recitation=14&amp;fuzzy=True&amp;query=%D9%81%D9%90%D9%8A&amp;translation=en.transliteration&amp;page=1&amp;unit=aya&amp;view=default">فِي</a>

  <a href="?sortedby=score&amp;recitation=14&amp;fuzzy=True&amp;query=%D8%B3%D9%8E%D8%A8%D9%90%D9%8A%D9%84%D9%90&amp;translation=en.transliteration&amp;page=1&amp;unit=aya&amp;view=default">سَبِيلِ</a>

  <a href="?sortedby=score&amp;recitation=14&amp;fuzzy=True&amp;query=%D8%A7%D9%84%D9%84%D9%91%D9%8E%D9%87%D9%90&amp;translation=en.transliteration&amp;page=1&amp;unit=aya&amp;view=default">اللَّهِ</a>

  <a href="?sortedby=score&amp;recitation=14&amp;fuzzy=True&amp;query=%D9%83%D9%8E%D9%85%D9%8E%D8%AB%D9%8E%D9%84%D9%90&amp;translation=en.transliteration&amp;page=1&amp;unit=aya&amp;view=default">كَمَثَلِ</a>

  <a href="?sortedby=score&amp;recitation=14&amp;fuzzy=True&amp;query=%D8%AD%D9%8E%D8%A8%D9%91%D9%8E%D8%A9%D9%8D&amp;translation=en.transliteration&amp;page=1&amp;unit=aya&amp;view=default">حَبَّةٍ</a>

  <a href="?sortedby=score&amp;recitation=14&amp;fuzzy=True&amp;query=%D8%A3%D9%8E%D9%86%D9%92%D8%A8%D9%8E%D8%AA%D9%8E%D8%AA%D9%92&amp;translation=en.transliteration&amp;page=1&amp;unit=aya&amp;view=default">أَنْبَتَتْ</a>

  <a href="?sortedby=score&amp;recitation=14&amp;fuzzy=True&amp;query=%D8%B3%D9%8E%D8%A8%D9%92%D8%B9%D9%8E&amp;translation=en.transliteration&amp;page=1&amp;unit=aya&amp;view=default">سَبْعَ</a>

  <span class="match

  term0">سَنَابِلَ</span>

  <a href="?sortedby=score&amp;recitation=14&amp;fuzzy=True&amp;query=%D9%81%D9%90%D9%8A&amp;translation=en.transliteration&amp;page=1&amp;unit=aya&amp;view=default">فِي</a>

  <a href="?sortedby=score&amp;recitation=14&amp;fuzzy=True&amp;query=%D9%83%D9%8F%D9%84%D9%91%D9%90&amp;translation=en.transliteration&amp;page=1&amp;unit=aya&amp;view=default">كُلِّ</a>

  <span class="match

  term1">سُنْبُلَةٍ</span>

  <a href="?sortedby=score&amp;recitation=14&amp;fuzzy=True&amp;query=%D9%85%D9%90%D8%A7%D8%A6%D9%8E%D8%A9%D9%8F&amp;translation=en.transliteration&amp;page=1&amp;unit=aya&amp;view=default">مِائَةُ</a>

  <a href="?sortedby=score&amp;recitation=14&amp;fuzzy=True&amp;query=%D8%AD%D9%8E%D8%A8%D9%91%D9%8E%D8%A9%D9%8D&amp;translation=en.transliteration&amp;page=1&amp;unit=aya&amp;view=default">حَبَّةٍ</a>

  <a href="?sortedby=score&amp;recitation=14&amp;fuzzy=True&amp;query=%D9%88%D9%8E%D8%A7%D9%84%D9%84%D9%91%D9%8E%D9%87%D9%8F&amp;translation=en.transliteration&amp;page=1&amp;unit=aya&amp;view=default">وَاللَّهُ</a>

  <a href="?sortedby=score&amp;recitation=14&amp;fuzzy=True&amp;query=%D9%8A%D9%8F%D8%B6%D9%8E%D8%A7%D8%B9%D9%90%D9%81%D9%8F&amp;translation=en.transliteration&amp;page=1&amp;unit=aya&amp;view=default">يُضَاعِفُ</a>

  <a href="?sortedby=score&amp;recitation=14&amp;fuzzy=True&amp;query=%D9%84%D9%90%D9%85%D9%8E%D9%86%D9%92&amp;translation=en.transliteration&amp;page=1&amp;unit=aya&amp;view=default">لِمَنْ</a>

  <a href="?sortedby=score&amp;recitation=14&amp;fuzzy=True&amp;query=%D9%8A%D9%8E%D8%B4%D9%8E%D8%A7%D8%A1%D9%8F&amp;translation=en.transliteration&amp;page=1&amp;unit=aya&amp;view=default">يَشَاءُ</a>

  <a href="?sortedby=score&amp;recitation=14&amp;fuzzy=True&amp;query=%D9%88%D9%8E%D8%A7%D9%84%D9%84%D9%91%D9%8E%D9%87%D9%8F&amp;translation=en.transliteration&amp;page=1&amp;unit=aya&amp;view=default">وَاللَّهُ</a>

  <a href="?sortedby=score&amp;recitation=14&amp;fuzzy=True&amp;query=%D9%88%D9%8E%D8%A7%D8%B3%D9%90%D8%B9%D9%8C&amp;translation=en.transliteration&amp;page=1&amp;unit=aya&amp;view=default">وَاسِعٌ</a>

  <a href="?sortedby=score&amp;recitation=14&amp;fuzzy=True&amp;query=%D8%B9%D9%8E%D9%84%D9%90%D9%8A%D9%85%D9%8C&amp;translation=en.transliteration&amp;page=1&amp;unit=aya&amp;view=default">عَلِيمٌ</a>

</span>
        -
        <a href="?sortedby=score&amp;recitation=14&amp;query=sura_arabic%3A%22%D8%A7%D9%84%D8%A8%D9%82%D8%B1%D8%A9%22+%2B+aya_id%3A261&amp;fuzzy=True&amp;translation=en.transliteration&amp;page=1&amp;unit=aya&amp;view=default">
          <span class="text-success">
            <small>البقرة</small>
            261
          </span>
        </a>
        </p>
      </div>
{% endblock %}