.sanabil-color {
  color: $color_sanabil;
  &-accent {
    color: $color_sanabil_accent !important;
  }
}

.ui.secondary.pointing.menu{

  border-color: transparent!important;
  .item {
  &.active, &:hover {
    border-color: $color_sanabil_accent !important;
    color: $color_sanabil_accent !important;
  }
  &:hover {
    transition: all 0.5s ease-out;
  }
    &.logo, &.logo:hover {
      transform: scale(1.3);
      padding-bottom: 5px;
      padding-right: 20px;
      padding-left: 10px;

      border-color: transparent !important;
      color: transparent !important;
    }
}
}

.text.color_sanabil, h1.header, .header a {
  color: $color_sanabil !important;
}

.text.sanabil-color, h1.header, .header a {
  color: $color_sanabil !important;
}

.contact-form .sanabil-color.button,
.ui.footer .sanabil-color.button,
.actions .sanabil-color.button,
.ui.navigator .sanabil-color.button,
.ui.sanabil-color.button:hover,
.sanabil-color.button a,
.ui.sanabil-color.button a:hover {
  color: $color_ghost_white !important;
  background-color: $color_sanabil !important;
}



.ui.navigator .right.menu .item:hover {
  border-bottom-color: transparent !important;
}
.masthead .logo.item img {
  margin-right: 16px;
}

.masthead .ui.menu .ui.button {
  margin-left: 8px;
}

.ui.vertical.stripe {
  .floated.image {
    clear: both;

  }
  .button, p {
    + h3 {
      margin-top: 48px;
    }
  }
}

.ui.cards {
  margin-left: 15%;
}

.secondary.menu .toc.item, .hidden.menu, .silder-icon {
  display: none !important;
}

@media only screen and (max-width: 768px) {
  .ui.fixed.menu, .ui.secondary.inverted.menu a.item {
    display: none !important;
  }
  a.item.logo img{
        width: 30% !important;
  }
  .secondary.menu .toc.item, .ui.secondary.inverted.menu .toc.item, .silder-icon {
    display: block !important;
  }
  .masthead {
    h2 {
      margin-top: 8px;
    }
    .ui.sanabil-color.button.inverted {
      font-size: 90%;
      margin-bottom: 10%;
    }
  }

}
