$color_sanabil_accent: #F28230;
$color_sanabil: #5DBCD2;
$color_light_sanabil: #90dcf8;
$color_ghost_white: #f8f8ff;
$color_light_grey: lightgrey;
$color_shark_15_approx: rgba(34, 36, 38, 0.15);
$color_shark_30_approx: rgba(40, 40, 40, 0.3);
$color_black_5: rgba(0, 0, 0, 0.05);
$color_black_12: rgba(0, 0, 0, 0.12);
$color_black_24: rgba(0, 0, 0, 0.24);
$color_black_80: rgba(0, 0, 0, 0.8);
$color_black_87: rgba(0, 0, 0, 0.87);
$color_black_95: rgba(0, 0, 0, 0.95);
$color_white: #fff;

$color_font_0: Icons;
$color_font_aya: 'Scheherazade';
$color_font_quran_decoration:  'ArabeyesQr', 'Scheherazade';

$aya_font_size: 43px;
$home_header_height: 500px;
$footer-height: 250px;
