$color-sanabil-accent: #F28230;
$color-sanabil: #5DBCD2;
$color-light-color-sanabil: #90dcf8;
@font-face {
  font-family: 'Scheherazade';
  src: url('../../fonts/ScheherazadeRegOT.ttf');
}

@font-face {
  font-family: 'ArabeyesQr';
  src: url('../../fonts/arabeyes-qr.ttf');
}

.ui.header {
  color: $color-sanabil;
}

//GENERAL

body::-webkit-scrollbar {
  width: 10px;
  background: lightgrey;
}

body::-webkit-scrollbar-track {
  background: lightgrey;
}

body::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, .87);
  outline: 1px solid rgba(0, 0, 0, .87);
}

body.pushable {
  background: transparent !important;
}

.sanabil-color-accent {
  color: $color-sanabil-accent !important;
}

.sanabil-color {
  color: $color-sanabil;
}

.ui.sanabil-color.button, .ui.sanabil-color.button:hover {
  color: white;
  background-color: $color-sanabil;

}

.ui.vertical.segment {
  border: none;
}

.ui.sanabil-color.button.inverted {
  background-color: transparent;
  color: $color-sanabil;
  box-shadow: 0 0 0 2px $color-sanabil inset !important;
  &:hover {
    background-color: $color-sanabil;
    color: white;
  }
}

.activities p {
  height: 150px;
}

//HEADER
#aya {
  font-family: 'Scheherazade';
  font-weight: normal;
  font-style: normal;
  font-size: 43px;
  padding: 45px;
  .quran_decoration {
    direction: rtl;
    font-family: ArabeyesQr, Scheherazade;
  }
  .aya-surat {
    font-family: 'Amiri', serif;
    font-weight: normal;
    font-style: normal;
    font-size: 30px;
    color: $color-light-color-sanabil;
  }
}

.hidden.menu {
  display: none;
}

.masthead.segment {
  min-height: 500px;
  padding: 1em 0;
  opacity: 0.9;
  position: relative;
  background-image: linear-gradient(#000000, #687d7e) !important;
  //clip-path: polygon(
  //                0 0,
  //                100% 0,
  //                100% 100%,
  //                0 calc(100% - 5vw)
  //);
  //clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
  //clip-path: polygon(0 0, 100% 1%, 57% 67%, 0 47%);
  //clip-path: polygon(0 0, 100% 0, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 0 7%);
  //clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 70% 76%, 52% 88%, 26% 75%, 0% 75%);
  //clip-path: polygon(50% 0%, 100% 0, 100% 35%, 100% 70%, 73% 87%, 50% 100%, 24% 84%, 0% 70%, 0% 35%, 0 0);
  //clip-path: polygon(50% 0%, 100% 0, 100% 43%, 100% 91%, 68% 100%, 32% 100%, 0 91%, 0% 43%, 0 0);
}

.masthead.segment:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  opacity: 0.09;
  right: 0;
  bottom: 0;
  z-index: -1;
  background: url('../../images/background.jpg')
}

.masthead .logo.item img {
  margin-right: 1em;
}

.masthead .ui.menu .ui.button {
  margin-left: 0.5em;
}

.masthead h1.ui.header {
  margin-top: 2em;
  margin-bottom: 0;
  font-size: 4em;
  font-weight: normal;
}

.masthead h2 {
  font-size: 1.7em;
  font-weight: normal;
}

.ui.vertical.stripe {
  padding: 0;
}

.ui.vertical.stripe h3 {
  font-size: 2em;
}

.ui.vertical.stripe .button + h3,
.ui.vertical.stripe p + h3 {
  margin-top: 3em;
}

.ui.vertical.stripe .floated.image {
  clear: both;
}

.ui.vertical.stripe p {
  font-size: 1em;
}

.ui.vertical.stripe .horizontal.divider {
  margin: 3em 0;
}

.ui.grid {
  margin: 0 !important;
}

.quote.stripe.segment {
  padding: 0;
}

.quote.stripe.segment .grid .column {
  padding-top: 5em;
  padding-bottom: 5em;
}

.footer.segment {
  padding: 50px 0 5em 0;
  margin-top: 10px;
  i.icon {
    margin-bottom: 10%;
  }
  button {
    margin-top: 10px;
  }
  .ui.inverted.header {
    margin-bottom: 30px;
  }
}

.secondary.menu .toc.item {
  display: none;
}

.ui.secondary.inverted.menu a.item {
  color: rgba(255, 255, 255, 0.9) !important;
}

@media only screen and (max-width: 700px) {
  .ui.fixed.menu {
    display: none !important;
  }

  .ui.secondary.inverted.menu a.item {
    display: none;
  }

  a.toc.item {
    display: block !important;
  }

  .masthead.segment {
    min-height: 350px;
    .menu {
      border: none;
    }
  }

  #associations-table_filter label{
    text-align: left;
  }

  .footer {
    button.contact {
      margin-left: 25%;
    }
  }

  .masthead h1.ui.header {
    font-size: 2em;
    margin-top: 1.5em;
  }

  .masthead h2 {
    margin-top: 0.5em;
    font-size: 1.5em;
  }
}

.ui.cards {
  margin-left: 15%;
}

.clr {
  clear: both;
}

.header {
  a {
    color: $color-sanabil;
  }
}

/*The tables */
.ui.raised.segment {
  margin-bottom: 15%;
  text-align: center;
}

.ui.table.dataTable thead th {
  cursor: pointer;
  white-space: nowrap;
  border-left: 1px solid rgba(34, 36, 38, 0.15);
  color: rgba(0, 0, 0, 0.87);
}

.ui.table.dataTable thead th:first-child {
  border-left: none;
}

.ui.table.dataTable thead .sorting,
.ui.table.dataTable thead .sorting_asc,
.ui.table.dataTable thead .sorting_desc,
.ui.table.dataTable thead .sorting_asc_disabled,
.ui.table.dataTable thead .sorting_desc_disabled,
.ui.table.dataTable thead .sorting:hover,
.ui.table.dataTable thead .sorting_asc:hover,
.ui.table.dataTable thead .sorting_desc:hover,
.ui.table.dataTable thead .sorting_asc_disabled:hover,
.ui.table.dataTable thead .sorting_desc_disabled:hover {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.ui.table.dataTable thead th:after {
  display: none;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  content: '';
  height: 1em;
  width: auto;
  opacity: 0.8;
  margin: 0 0 0 0.5em;
  font-family: 'Icons';
}

.needy-stats .ui.large.button {
  margin-bottom: 20px;
}

.ui.table.dataTable thead th.sorting_asc:after {
  /*content: '\f0d8';*/
  content: '\f160';
}

.ui.table.dataTable thead th.sorting_desc:after {
  /*content: '\f0d7';*/
  content: '\f161';
}

.ui.table.dataTable thead th.sorting:after {
  content: '\f0dc';
  opacity: 0.2;
}

/* Hover */

.ui.table.dataTable th.disabled:hover {
  cursor: auto;
  color: rgba(40, 40, 40, 0.3);
}

.ui.table.dataTable thead th:hover {
  background: rgba(0, 0, 0, 0.05);
  color: rgba(0, 0, 0, 0.8);
}

/* Sorted */

.ui.table.dataTable thead .sorting_asc,
.ui.table.dataTable thead .sorting_desc,
.ui.table.dataTable thead .sorting_asc_disabled,
.ui.table.dataTable thead .sorting_desc_disabled {
  background: rgba(0, 0, 0, 0.05);
  color: rgba(0, 0, 0, 0.95);
}

.ui.table.dataTable thead .sorting:after,
.ui.table.dataTable thead .sorting_asc:after,
.ui.table.dataTable thead .sorting_desc:after,
.ui.table.dataTable thead .sorting_asc_disabled:after,
.ui.table.dataTable thead .sorting_desc_disabled:after {
  display: inline-block;
}

/* Sorted Hover */

.ui.table.dataTable thead .sorting_asc:hover,
.ui.table.dataTable thead .sorting_desc:hover,
.ui.table.dataTable thead .sorting_asc_disabled:hover,
.ui.table.dataTable thead .sorting_desc_disabled:hover {
  background: rgba(0, 0, 0, 0.05);
  color: rgba(0, 0, 0, 0.95);
}

.dataTables_length select {
  background: #fff none repeat scroll 0 0;
  border: 1px solid rgba(34, 36, 38, 0.15);
  border-radius: 0.285714rem;
  box-shadow: none;
  color: rgba(0, 0, 0, 0.87);
  cursor: pointer;
  display: inline-block;
  line-height: 1.2142em;
  min-height: 0.714286em;
  outline: 0 none;
  padding: 0.3em;
  transform: rotateZ(0deg);
  transition: box-shadow 0.1s ease 0s, width 0.1s ease 0s;
  white-space: normal;
  word-wrap: break-word;
}

.dataTables_wrapper .dataTables_filter {
  text-align: right;

  color: rgba(0, 0, 0, 0.87);
  display: inline-flex;
  position: relative;
}

.dataTables_wrapper .dataTables_filter input {
  margin-left: 0.5em;

}

.dataTables_wrapper .dataTables_info {
  clear: both;
  padding-top: 0.755em;
}

.dataTables_filter input {
  background: #fff none repeat scroll 0 0;
  border: 1px dotted $color-sanabil;
  border-radius: 500rem;
  box-shadow: none;
  color: rgba(0, 0, 0, 0.87);
  flex: 1 0 auto;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  height: 2em;
  margin: 0;
  max-width: 100%;
  outline: 0 none;
  padding: .4em;
  text-align: left;
  transition: background-color 0.1s ease 0s, box-shadow 0.1s ease 0s, border-color 0.1s ease 0s;

}

.ui.statistics {
  margin-left: 15%;
}

//HELP PAGE

#gallery {
  clear: both;
  margin: 0 auto;
  .grid-item {
    margin: 0.5rem;
  }
  .hovereffect {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
    .overlay {
      width: 100%;
      height: 100%;
      position: absolute;
      overflow: hidden;
      top: 0;
      left: 0;
      opacity: 0;
      background-color: rgba(0, 0, 0, 0.5);
      -webkit-transition: all .4s ease-in-out;
      transition: all .4s ease-in-out;
    }
    img {
      display: block;
      position: relative;
      -webkit-transition: all .4s linear;
      transition: all .4s linear;
    }
    h2 {
      text-transform: uppercase;
      color: #fff;
      text-align: center;
      position: relative;
      font-size: 17px;
      background: rgba(0, 0, 0, 0.6);
      -webkit-transform: translatey(-100px);
      -ms-transform: translatey(-100px);
      transform: translatey(-100px);
      -webkit-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out;
      padding: 10px;
    }
    a.info {
      text-decoration: none;
      display: inline-block;
      font-size: small;
      text-transform: uppercase;
      color: #fff;
      border: 1px solid #fff;
      background-color: transparent;
      opacity: 0;
      filter: alpha(opacity=0);
      -webkit-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out;
      margin: 50px 0 0;
      padding: 7px 14px;
      &:hover {
        box-shadow: 0 0 5px #fff;
      }
    }
    &:hover {
      img {
        -ms-transform: scale(1.2);
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
      }
      .overlay {
        opacity: 1;
        filter: alpha(opacity=100);
      }
      h2 {
        opacity: 1;
        filter: alpha(opacity=100);
        -ms-transform: translatey(0);
        -webkit-transform: translatey(0);
        transform: translatey(0);
      }
      a.info {
        opacity: 1;
        filter: alpha(opacity=100);
        -ms-transform: translatey(0);
        -webkit-transform: translatey(0);
        transform: translatey(0);
        -webkit-transition-delay: .2s;
        transition-delay: .2s;
      }
    }
  }
}

.contact_infos {
  font-size: larger;
  .row {
    margin-bottom: 10px;
  }
  button {
    float: right;
  }
}

.detail-click {
  text-align: center;
}

td.actions {
  text-align: center;
}

//MEDIA
@media only screen and (min-width: 768px) {
  .silder-icon {
    display: none !important;
  }
  .footer.segment {
    h4::after {
      content: "";
      width: 50px;
      height: 2px;
      background-color: $color-sanabil;
      position: absolute;
      bottom: 80%;
      left: 6%;
    }
  }
}

.text.color-sanabil {
  color: $color-sanabil;
}

@media only screen and (max-width: 768px) {
  .navigator > .item:nth-child(n+2), .contact-button {
    display: none !important;
  }
}

@media only screen and (max-width: 400px) {
  #associations, #needs {
    &-table_wrapper .left.aligned.eight.wide.column {
      display: none !important;
    }
  }
}

.hidden {
  display: none !important;
}

.activities {
  .column {
    box-shadow: none;
  }
  .card {
    margin: 20px 0 20px 0;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    border-radius: 20px;
    &:after {
      content: "";
      display: block;
      margin: 0 auto;
      width: 80%;
      padding-bottom: 30px;
      border-bottom: 2px solid transparent;
    }
    &:before {
      content: "";
      display: block;
      margin: 0 auto;
      width: 80%;
      padding-bottom: 30px;
      border-top: 2px solid transparent;
    }
  }
  .card:hover {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    &:after {
      content: "";
      display: block;
      margin: 0 auto;
      width: 80%;
      padding-bottom: 30px;
      border-bottom: 2px solid $color-sanabil;
    }
    &:before {
      content: "";
      display: block;
      margin: 0 auto;
      width: 80%;
      padding-bottom: 30px;
      border-top: 2px solid $color-sanabil;
    }
  }
}

.vision {
  border: none;
}