{% extends 'base.html' %}

{% block title %} Besoins {% endblock %}


{% block content %}
    <div class="ui main container">
        <p></p>
        <div class="ui raised segment">
            <table id="needs-table" class="ui compact selectable striped celled table" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th>Nom</th>
                    <th>Type de don</th>
                    <th>Association</th>
                    <th>Montant</th>
                    <th>Urgent</th>
                    <th>Date limite</th>
                    <th>Autres détails</th>
                </tr>
                </thead>
                <tbody>
                {% for besoin in object_list %}
                    <tr>
                        <td>
                            {{ besoin.nom }}</td>
                        <td>
                            {{ besoin.type.labels | default:"Autres" }}
                        </td>
                        <td>
                            {{ besoin.association.nom |default:"/" }}
                        </td>
                        <td>
                            <div class="ui big label">
                                {{ besoin.montant }} <b>DA</b>
                            </div>
                        </td>
                        <td class="actions">
                            <i class="large icon
                                    {% if besoin.est_urgent %}check sanabil-color{% else %} times red {% endif %}">
                            </i>
                        </td>
                        <td>
                            {{ besoin.date_limite |default:"/" }}
                        </td>
                        <td class="detail-click">
                            <a href="#" class="zoom-icon">
                                <i class="large sanabil-color zoom icon"></i>
                            </a>

                        </td>
                    </tr>
                    <div id="besoin-detail" class="ui modal">
                        <i class="close icon"></i>
                        <div class="header">
                            Détail du besoin
                        </div>
                        <div class="image content">
                            <div class="description">
                                <div class="ui header">{{ besoin.nom }}</div>
                                <p>
                                <div class="ui relaxed divided list horizontal">
	                             {% if besoin.description|length > 0 %}
		                             <div class="item">
                                        <div class="content">
                                            <a class="header">Description</a>
                                            <div class="description">
                                                {{ besoin.description }}
                                            </div>
                                        </div>
                                    </div>
	                             {% endif %}
                                    <div class="item">
                                        <div class="content">
                                            <a class="header">Association</a>
                                            <div class="description">
                                                <ul>
                                                    <li value="-"><b>Nom:</b> {{ besoin.association.nom | default:"/" }}
                                                    </li>
                                                    <li value="-">
                                                        <b>Commune:</b> {{ besoin.association.commune | default:"/" }}
                                                    </li>
                                                    <li value="-">
                                                        <b>Surnom:</b> {{ besoin.association.surnom | default:"/" }}
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </p>
                            </div>
                        </div>
                        <div class="actions">
                            <div class="ui black deny button">
                                Fermer
                            </div>
                        </div>
                    </div>
                {% empty %}
                    <td>Aucun besoin est ajouté pour le moment</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
