<div class="needy-stats">
	<div class="ui text center aligned container">
		<h1 class="ui horizontal header divider">
			<label class="text sanabil-color-accent">STAT</label>ISTIQUES
		</h1>
		<p>
		<div class="ui statistics">
			<div class="huge olive statistic">
				<div id="totale" class="value">
				</div>
				<div class="label">
					Nécessiteux
				</div>
			</div>
			<div class="huge brown statistic">
				<div id="familles" class="value">
				</div>
				<div class="label">
					Familles
				</div>
			</div>
			<div class="huge orange statistic">
				<div id="enfants" class="value">
				</div>
				<div class="label">
					Enfants
				</div>
			</div>
		</div>
		</p>
		<div class="ui equal width stackable internally celled grid">
			<div class="center aligned row">
				<div class="column">
					<h4>
						La distribution des nécessiteux par sexe ( % )
					</h4>
					<p class="needs-charts">
						<canvas id="needs-charts-gender" width="200" height="200"></canvas>
					</p>
				</div>
				<div class="column">
					<h4>
						La distribution des nécessiteux par tranche d'âge
					</h4>
					<p>
						<canvas id="needs-charts-age" width="400" height="300"></canvas>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
